<!DOCTYPE html>
<h3><b>List of Stores</b></h3>
<br>
<br>
<br>
<ul class="store">
  <li><b><a href="/addstore"> Add a Store </a></b></li>
  {{#if store}}
    {{#each store}}
    <ul style="list-style-type:none">
      <li><a href="/store/{{this.slug}}">{{this.storename}}</a></li>
    </ul>
    {{/each}}
  {{/if}}
</ul>
</html>
