nav < ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.additem{
  position: absolute;
  left: -600px;
}
.store{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  text-align: center;
  float: left;
  width: 50%;
  text-align: center;
}

nav ul li{
  display: inline;
  padding: 10px;
  text-align: center;
}

h2, h3{
  text-align: center;
}

form{
	text-align:left;
	padding-left: 700px;
}

article-detail{
  text-align:left;
	padding-left: 650px;
}
h5{
  text-align:left;
	padding-left: 650px;
}
